.Dictionary {
	padding: 15px 10px;
	border: 1px solid #394564;
	max-width: 600px;
	margin: 30px auto;
}


.Dictionary h1 {
	font-family: 'Playfair Display SC', sans-serif;
	color: white;
	margin-top: 10px;
	text-align: center;
}

h6 {
	color: white;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.Dictionary .paragraph {
	text-align: center;
	margin-top: 7px;
}

.Dictionary form {
	margin-top: 15px;
	width: 31%;
	text-align: center;
}

.Dictionary .form {
	border: 1px solid rgb(144, 144, 144);
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	line-height: 36px;
  margin-top: 25px;
	text-align: center;
	padding: 10px;
}


@media (max-width: 800px) {
	h6 {
		font-size: 15px;
		margin-top: 15px;
	}

	h1 {
   font-size: 40px;
	}


	.Dictionary .paragraph {
		font-size: 15px;
		text-align: center;
	}

	.Dictionary form {
	 width: 75%;
	}

	.Dictionary .form {
		font-size: 15px;
	}
}